/* Table Container */
.table-container{
    width:50%;
    margin:30px auto;
    background:#fff;
    padding:20px;
    border-radius:30px;
    box-shadow:0px 5px 15px rgba(173, 224, 6, 0.15);
}

/* Table */
table{
    width:100%;
    /* border-collapse:collapse; */
    font-family:'Segoe UI',sans-serif;
    background:rgb(140, 225, 11);
}

/* Heading */
table th{
    background:#0d86f8;
    color:rgb(255, 255, 255);
    padding:14px;
    text-align:left;
    font-size:16px;
    letter-spacing:0.5px;
}

/* Cells */
table td{
    padding:12px;
    border-bottom:1px solid #e5e7eb;
    font-size:15px;
}
